/* general */
h1 {font-size: 40px;}
h2 {font-size: 30px;}
h3, p {font-size: 20px;}
body 
{
    font-family: Arial; 
    background-color: #c6d3c7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

/* primary navigation */
header {width: 100%;}
header section#primary-nav
{
    background-color: #002202;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical alignment */
}
header section#primary-nav div.right-buttons {display: flex;}
header section#primary-nav div.left-buttons div a,
header section#primary-nav div.right-buttons div a
{
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 0 15px;
}
header section#primary-nav div.left-buttons div a:hover,
header section#primary-nav div.right-buttons div a:hover,
header section#primary-nav div.left-buttons div a:focus,
header section#primary-nav div.right-buttons div a:focus {color: #b1b1b1; transition: color 0.3s ease;}
header section#primary-nav div.search-bar form input
{
    width: 50vw;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}
header section#primary-nav div.search-bar form button
{
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px;
    background-color: rgb(0, 177, 24);
    color: black;
}
header section#primary-nav div.search-bar form button:hover,
header section#primary-nav div.search-bar form button:focus 
{
    background-color: #008d13; 
    transition: background-color 0.3s ease;
}

/* secondary navigation */
header section#secondary-nav
{
    background-color: #005306;
    padding: 15px 35px;
    justify-content: space-between;
}
header section#secondary-nav nav ul
{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
header section#secondary-nav nav ul li {font-size: 20px;}
header section#secondary-nav nav ul li a {text-decoration: none; color: white;}
header section#secondary-nav nav ul li a:hover,
header section#secondary-nav nav ul li a:focus {color: #b1b1b1; transition: color 0.3s ease;}

/* main */
main {flex: 1;}

/* footer */
footer
{
    position: relative;
    bottom: 0;
    background-color: #005306;
    width: 100%;
    padding: 15px;
}
footer div#copyright {margin-top: 20px;}
footer div#copyright p {text-align: center; color: white; font-size: 15px;}
footer div#footer-nav {margin-bottom: 20px;}
footer div#footer-nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer div#footer-nav ul li {font-size: 15px;}
footer div#footer-nav ul li a {text-decoration: none; color: white;}
footer div#footer-nav ul li a:hover,
footer div#footer-nav ul li a:focus {color: #b1b1b1; transition: color 0.3s ease;}
footer div#social-media ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer div#social-media ul li {font-size: 20px;}
footer div#social-media ul li a {text-decoration: none; color: white;}
footer div#social-media ul li a:hover,
footer div#social-media ul li a:focus {color: #b1b1b1; transition: color 0.3s ease;}

