
/* Section 1 */
main section.sector1
{
    display: flex;
    flex-direction: column;
}
main section.sector1 div.banner h1 {font-weight: 600; letter-spacing: 4px;}
main section.sector1 div.banner h2 {font-weight: 500; letter-spacing: 4px;}
main section.sector1 div.banner 
{
    text-align: center;
    padding: 2rem;
    background-color: rgb(137, 199, 137);
    box-shadow: 0 20px 5px rgb(72, 172, 117);
}
main section.sector1 div.special-banner 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 0;
}
main section.sector1 div.special-banner img 
{
    max-width: 100%;
    box-shadow: 10px 0 20px rgb(255, 89, 144);
}
main section.sector1 div.heading1
{
    background-color: rgb(189, 189, 189);
    padding: 1rem;
    text-align: center;
    margin: 2rem 0;
}

/* Section 2 */
main section.sector2
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vw;
    gap: 40px 80px;
    padding: 0 10vw;
    width: 100%;
    margin: 2rem 0;
}
main section.sector2 div.sector2-grid-item {border: 2px solid white;}
main section.sector2 div.sector2-grid-item figure
{
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    height: 85%;
}
main section.sector2 div.sector2-grid-item div.tinted-glass
{
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
main section.sector2 div.sector2-grid-item div.tinted-glass:hover,
main section.sector2 div.sector2-grid-item div.tinted-glass:focus {background-color: rgba(0, 0, 0, 0.2);}
main section.sector2 div.sector2-grid-item figure img {width: 100%; height: 100%;}
main section.sector2 div.sector2-grid-item figure figcaption
{
    background-color: rgba(0, 82, 82, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-size: 1vw;
    padding: 0.5vw;
    text-align: center;
}
main section.sector2 div.sector2-grid-item div
{
    width: 100%;
    height: 15%;
    background-color: #3d001d;
    color: white;
    line-height: 1.2;
    padding: 10px 20px;
}
main section.sector2 div.sector2-grid-item div p {font-size: 1vw;}

/* Media queries */
@media only screen and (max-width: 1700px) {main section.sector2 div.sector2-grid-item div {padding: 10px;}}
@media only screen and (max-width: 1600px) 
{
    main section.sector2 div.sector2-grid-item div {padding: 5px;}
    main section.sector2 {padding: 0 5vw;}
}
@media only screen and (max-width: 800px)
{
    main section.sector1 div.special-banner {margin: 3rem auto;}
    main section.sector1 div.heading1 {margin: 0;}
    main section.sector1 div.heading1 h1 {font-size: 30px;}
    main section.sector2
    {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30vw;
        gap: 40px;
    }
    main section.sector2 div.sector2-grid-item figure figcaption {font-size: 2vw;}
    main section.sector2 div.sector2-grid-item div p {font-size: 10px;}
}
@media only screen and (max-width: 650px)
{
    main section.sector2
    {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 70vw;
    }
    main section.sector2 div.sector2-grid-item figure figcaption {font-size: 3vw;}
    main section.sector2 div.sector2-grid-item div p {font-size: 15px;}
}
@media only screen and (max-width: 450px)
{
    main section.sector1 div.banner h1 {font-size: 30px;}
    main section.sector1 div.banner h2 {font-size: 20px;}
    main section.sector2 div.sector2-grid-item figure figcaption {font-size: 4vw;}
    main section.sector2 div.sector2-grid-item div p {font-size: 13px;}
}
@media only screen and (max-width: 400px)
{
    main section.sector2 div.sector2-grid-item div p {font-size: 11px;}
}

/* 
@media only screen and (max-width: 1700px) {main section.sector2 div.sector2-grid-item div p {font-size: 15px;}}
@media only screen and (max-width: 1600px) {main section.sector2 div.sector2-grid-item div p {font-size: 13px;}}
@media only screen and (max-width: 1500px) {main section.sector2 div.sector2-grid-item div p {font-size: 11px;}}


@media only screen and (max-width: 1500px)
{
    main section.sector2
    {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 5vw;
    }
}
@media only screen and (max-width: 1024px)
{
    main section.sector2
    {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 0 5vw;
        width: 100%;
        margin: 2rem 0;
    }
} 
*/

/* Misc */
main section.sector2-div
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 40px 80px;
    padding: 0 10vw;
    width: 100%;
    margin: 5rem 0;
}
main section.sector2-div div
{
    border: 2px solid white;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}
main section.sector2-div div figure img {width: 100%; height: 100%;}
main section.sector2-div div figure figcaption
{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-size: 20px;
    padding: 0.5vw;
    text-align: center;
}
div.special-b
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    background-color: rgb(20, 110, 139);
    color: rgb(51, 0, 51);
}
div.special-b div {border: 2px dashed black;}
div.special-b div:first-child {font-size: 100px;}
div.special-b div:nth-child(2) h3 {font-size: 4rem; width: 50%;}
div.special-b div:last-child {width: 30%;}