section#sidebar 
{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #002700c4;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}
section#sidebar a 
{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
section#sidebar a:hover,
section#sidebar a:focus {color: #b1b1b1; transition: color 0.3s ease;}
section#sidebar .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar_class
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #7a7a7a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar_class a 
{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar_class a:hover 
{
    color: #f1f1f1;
}
.sidebar_class .close_button
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}