/* BEAUTY & SKINCARE */
/* Section 1 */
main section#section1
{
    display: flex;
    flex-direction: column;
    margin: 2vh 8vw;
}
main section#section1 img 
{
    margin: auto;
    height: 325px;
    width: 100%;
    box-shadow: 10px 5px 5px 10px rgb(187, 194, 182);
}

/* Section 2 */
main section#section2
{
    margin: 4vh 8vw;
    background-color: rgb(159, 164, 165);
    box-shadow: 10px 5px 5px 10px rgb(187, 194, 182);
}
main section#section2 div
{
    display: flex;
    justify-content: center;
    gap: 80px;
}
main section#section2 div figure
{
    position: relative;
    z-index: 0;
    max-width: 20%;
    border: 2px solid white;
    box-sizing: border-box;
}
main section#section2 div figure a div.tinted-glass 
{
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
main section#section2 div figure a div.tinted-glass:hover,
main section#section2 div figure a div.tinted-glass:focus {background-color: rgba(0, 0, 0, 0.2);}
main section#section2 div figure a img {width: 100%; height: 100%;}
main section#section2 div figure a figcaption
{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 72, 100, 0.5);
    color: white;
    font-size: 1.2vw;
    padding: 0.5vw;
    text-align: center;
    width: 100%;
}