@media only screen and (max-width: 1200px) {main section#section2 div figure a figcaption {font-size: 1.8vw;}}
@media only screen and (max-width: 800px)
{
    /* Beauty & Skincare */
    main section#section1 {margin: 2vh 2vw;}
    main section#section2 {margin: 4vh 2vw;}
    main section#section2 div {flex-direction: column;}
    main section#section2 div figure {margin: auto;}
    main section#section2 div figure {max-width: 50%;}
    main section#section2 div figure a figcaption {font-size: 3.5vw;}
}
@media only screen and (max-width: 600px)
{
    /* Beauty & Skincare */
    main section#section1 h1 {font-size: 50px;}
    main section#section2 h2 {font-size: 35px;}
    main section#section2 div {gap: 40px;}
    main section#section1 img {height: 225px;}
}
@media only screen and (max-width: 400px)
{
    /* Beauty & Skincare */
    main section#section1 h1 {font-size: 40px; margin-bottom: 1rem;}
    main section#section2 h2 {font-size: 30px;}
    main section#section1 img {height: 125px;}
}